<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>SMART FARM</title>
</head>
<body>
	<div class="container_mother">
		<div class="container2">
			<div class="table2">
				<div class="table-header2">
					<div class="header__item2"><a id="energy_consumption" class="filter__link filter__link--number2">Weather State</a></div>
					<div class="header__item2"><a id="robot_condition" class="filter__link filter__link--number2">air condition</a></div>
				</div>
				<div class="table-content2">
					<div class="table-row2">
						<% DATA.forEach((item, index) => { %>
							<div class="table-data2"><%= item.weather_condition.toUpperCase()%></div>
							<div class="table-data2"><%= item.air_condition.toUpperCase() %></div>
						<% }); %>
					</div>
				</div>
			</div>
		</div>




		<div class="container">
			<div class="table">
				<div class="table-header">
					<div class="header__item"><a id="robot_id" class="filter__link filter__link--number">robot id</a></div>
					<div class="header__item"><a id="robot_condition" class="filter__link filter__link--number">robot state</a></div>
					<div class="header__item"><a id="energy_consumption" class="filter__link filter__link--number">energy consumption</a></div>
					<div class="header__item"><a id="robot_condition" class="filter__link filter__link--number">robot condition</a></div>
				</div>
				<% Data.forEach((item, index) => { %>
					<div class="table-content">
						<div class="table-row">
								<div class="table-data"><%= item.robot_id%></div>
								<div class="table-data"><%= item.robot_state.toUpperCase()%></div>
								<div class="table-data"><%= item.energy_consumption %></div>
								<div class="table-data"><%= item.robot_condition.toUpperCase() %></div>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
</body>
</html>

